body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    margin-bottom: 15px;
}

img {
    width: 300px;
    height: 200px;
    margin-bottom: 1em;

}

.card {
    width: 340px;
    border: solid rgba(128, 128, 128, 0.325) 1px;
    padding: 20px;
    margin: 50px auto;
    box-sizing: border-box;
}

.italics {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.card_info {
    border: solid rgba(128, 128, 128, 0.325) 1px;
    padding: 10px;

}

ul {
    list-style: none;
    padding: 0px 0px;
    margin-bottom: 20px;
}